.section {
}

.panel {
  gap: var(--padding-m) var(--padding-xs);
  margin: var(--padding-s) 0 var(--padding-xs);
}

.picture {
  width: 100%;
  overflow: hidden;
}

.image {
  height: auto;
  max-height: 270px;
  transition: transform 0.35s;
}

@media (prefers-reduced-motion: no-preference) {
  .image:hover {
    transform: scale(1.25);
  }
}

.content > * {
  padding-top: var(--padding-xs);
}

.tags {
  display: flex;
}

.tag {
  padding-right: 0.75rem;
  color: var(--foreground);
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--f-sm);
}

.tag:not(:first-child) {
  padding-left: 0.75rem;
  border-left: 1px solid currentColor;
}

/* Test buttons */

.ctas {
  display: flex;
  gap: 1.5rem;
  margin-top: var(--padding-xxs);
}

.cta {
  font-size: var(--f-sm);
  font-weight: 600;
  cursor: pointer;
  padding: 0.7rem 0.85rem;
  border: 1px solid currentColor;
  text-transform: uppercase;
}

.cta_code {
  border: 1px solid var(--foreground);
  background-color: var(--foreground);
  color: var(--background);
}

.cta_code:hover,
.cta_code:active,
.cta_code:focus {
  background: var(--accent);
}

.cta_demo:hover,
.cta_demo:active,
.cta_demo:focus {
  color: var(--accent);
}

.cta_code:hover,
.cta_code:active,
.cta_code:focus,
.cta_demo:hover,
.cta_demo:active,
.cta_demo:focus {
  border: 1px solid var(--accent);
}

@media screen and (width >= 768px) {
  .card {
    border: 1px solid currentColor;
  }
}

@media (768px <= width <= 1024px) {
  .card {
    flex-wrap: nowrap;
  }
  .content {
    margin: var(--padding-xs) var(--padding-s);
  }
  .picture {
    min-width: 284px;
  }
  .image {
    height: 100%;
    max-height: 100%;
  }
}

@media screen and (width >= 1025px) {
  .card {
    padding: var(--padding-xs);
    border: 1px solid transparent;
    max-width: 49%;
  }
  .card:hover,
  .card:active,
  .card:focus {
    border: 1px solid currentColor;
  }
  .picture {
    max-height: 250px;
  }
  .image {
    min-height: 250px;
  }
}
