.container {
  flex-direction: column;
  padding: var(--padding-s);
  gap: var(--padding-xs);
}

@media screen and (width >= 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
